name: Run clippy and build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: "19 2 * * 4"

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    name: Lints
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt, clippy
      - run: cargo fmt --all -- --check
      - run: cargo clippy

  build-macos:
    name: Build macOS
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          targets: x86_64-apple-darwin, aarch64-apple-darwin
      - run: cargo build --target x86_64-apple-darwin
      - run: cargo build --target aarch64-apple-darwin
      - run: cargo build --target x86_64-apple-darwin --release
      - run: cargo build --target aarch64-apple-darwin --release
      - uses: actions/upload-artifact@v4.3.5
        with:
          name: macOS Debug
          path: target/x86_64-apple-darwin/debug/panic-info-reader
      - uses: actions/upload-artifact@v4.3.5
        with:
          name: macOS Apple Silicon Debug
          path: target/aarch64-apple-darwin/debug/panic-info-reader
      - uses: actions/upload-artifact@v4.3.5
        with:
          name: macOS Release
          path: target/x86_64-apple-darwin/release/panic-info-reader
      - uses: actions/upload-artifact@v4.3.5
        with:
          name: macOS Apple Silicon Release
          path: target/aarch64-apple-darwin/release/panic-info-reader

  build-windows:
    name: Build Windows
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - run: cargo build -Zunstable-options --out-dir=out-debug
      - run: cargo build --release -Zunstable-options --out-dir=out
      - uses: actions/upload-artifact@v4.3.5
        with:
          name: Windows Debug
          path: out-debug/*
      - uses: actions/upload-artifact@v4.3.5
        with:
          name: Windows Release
          path: out/*
